.checklist-container {
    float: left;
    width: 100%;
}

.cv_search_subinput {
    float: left;
    width: 100%;
    padding: 3px;
    border: 1px solid #ddd;
}

.checkbox-list {
    float: left;
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
}

.checkbox-list > li {
    float: left;
    width: 100%;
    padding: 2px 0;
    margin: 0;
    list-style-type: none;
}

.checkbox-list > li input[type="checkbox"] {
    float: left;
}

.checkbox-list > li p {
    float: left;
    width: auto;
    ;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #555;
}
